@model IEnumerable<StudentRegistrationMVC_.Models.Student>

@{
    ViewData["Title"] = "Registered students";
}

<h1> @ViewData["Title"]</h1>

<br />


<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            
        </tr>
}
    </tbody>
</table>

<br />


<p>
    <a asp-controller="Student" asp-action="Create" class="btn btn-primary">Add New Student</a>
</p>
